*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f07167;
}

.circle{
  border: 1px solid #fdfcdc;
  border-radius: 100%;
  padding: 4rem;
}